<div class="container mx-auto col-8 " style="margin-top: 100px; margin-bottom: 200px;">
  <p style="text-align: center;">
    <h3 style="text-align: center;">本当に退会しますか？</h3>
  </p>

  <p class="my-5" style="text-align: center;">
    退会すると、会員登録情報や</br>
    これまで作成したレシピやいいねが閲覧できなくなります。</br>
    退会する場合は、「退会する」をクリックしてください。</br>
  </p>
  <div class="row" style="text-align: center;">
    <div class="p-0">
      <%= link_to "退会しない", '/customer',class: "btn btn-outline-primary",style: 'width: 200px; margin-right: 50px;' %>
      <%= link_to "退会する", '/customer/withdrawal',method: :patch, class: "btn btn-outline-danger",style: 'width: 200px;' %>
    </div>

  </div>
</div>