<div class="col-4">
  <div type="button" class="btn btn-outline-secondary nav-link">
    <%= link_to "レシピを投稿する▷▷", "/recipes/new", class: 'nav-link fa-solid fa-utensils', style: 'color: black;'  %>
  </div>
</div>
<!--検索機能-->