<div class="container py-5">
  <div class="row" style="text-align: center;">
    <div class="mx-auto">
      <%= image_tag "logo1", size: "500x130"%>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12 mb-3" style="text-align: center; font-size:50px;">
      "料理の魔法が生まれる場所"</br>
    </div>
    <div class="col-12" style="text-align: center; font-size:20px;">
      ここでは、世界中の食通や料理好きが集まり</br>
      美味しい料理のレシピやアイデアを</br>
      共有し合うことができます。</br>
      あなたの料理の才能を開花させ</br>
      食の魔法を広める場として</br>
      ぜひCook Shareを活用してみてください。
    </div>
  </div>
</div>