<div class="container">
  <div class="row" style="text-align: center;">
    <div class="mx-auto">
      <%= image_tag "main2", size: "1325x400"%>
    </div>
  </div>
  <div class="row my-5">
    <!--新着レシピ4件or余裕があればランキング-->
    <div class="col-8">
      <h3>新着レシピ</h3>
    </div>
    <!--新規投稿ボタン&検索機能-->
    <div class="col-4">
      <div type="button" class="btn btn-outline-secondary nav-link">
        <%= link_to "レシピを投稿する▷▷", "/recipes/new", class: 'nav-link fa-solid fa-utensils', style: 'color: black;'  %>
      </div>
    </div>
  </div>
</div>