/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import "toastr";
@charset "utf-8";/*カーソルを合わせると浮き上がる*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 6px;
  z-index: 1; /* ヘッダーを最前面に配置 */
}

.background {
  width: 100%;
  height: 50vh;
  background-image: image-url(main.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

body {
  font-family: 'Caveat', cursive,'Zen Maru Gothic', sans-serif;
  margin: 0;
  display: flex;
  flex-flow: column;
  min-height: 100vh;/*body全体の表示領域を確保*/
}

.field_with_errors {
  display: contents;/*バリデーションエラーが発生した時レイアウトが崩れないようにする*/
}

/*== 影がついて浮き上がる */
/*ボタンの形状*/
.float1{
    border: 1px solid #ccc;
    color: #333;
    padding:10px 20px;
    display: inline-block;
    text-decoration: none;
    outline: none;
    /*アニメーションの指定*/
    transition: all .3s;
}

/*hoverをしたらボックスに影がつく*/
.float1:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
  border-color: transparent;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
}

.body-content {
  flex: 1;
  padding-top: 10px;
  margin-top: 80px; /* ヘッダーの高さに合わせてマージンを設定 */
}

.card {
  background-color: #F5F5F5;
  border-color: #F5F5F5;
}

/*↓吹き出し部分のレイアウト↓*/
.balloon-set-box {
  display: flex;
  flex-wrap: wrap;
}

.balloon-set-box.left { /* 左 */
  flex-direction: row;
}

.balloon1{
  position: relative;
  padding: 20px;
  background-color: #FAF1E6;
  margin-top: 20px;
  border-radius: 10px;         /* 角丸を指定 */
}
/* 三角アイコン - 普通の吹き出し */
.balloon1::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #FAF1E6;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
/*↑吹き出し部分のレイアウト↑*/