/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  text-align: center;
  padding: 6px;
  z-index: 1; /* ヘッダーを最前面に配置 */
}

.search-form {
  display: flex;
  align-items: center;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
}

.body-content {
  padding-top: 10px;
  margin-top: 60px; /* ヘッダーの高さに合わせてマージンを設定 */
}

.card {
  background-color: #F5F5F5;
  border-color: #F5F5F5;
}

/*↓吹き出し部分のレイアウト↓*/
.balloon-set-box {
  display: flex;
  flex-wrap: wrap;
}

.balloon-set-box.left { /* 左 */
  flex-direction: row;
}

.balloon1{
  position: relative;
  padding: 20px;
  background-color: #FAF1E6;
  margin-top: 20px;
  border-radius: 10px;         /* 角丸を指定 */
}
/* 三角アイコン - 普通の吹き出し */
.balloon1::before{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -15px;
  top: 20px;
  border-right: 15px solid #FAF1E6;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
}
/*↑吹き出し部分のレイアウト↑*/